In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Dell\Downloads\all_grains_data.csv")

In [3]:
dt=data.copy()

In [4]:
dt

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [5]:
#Which commodity was having the highest opening price for the day.
#Which commodity price reached  maximum during the trading session.
#What is the average Market's opening price for the Oat in 2010
#What is the maximum and minimum Number of contracts traded during the 2009 
#Which year have  maximum and minimum Number of contracts traded 
#Which commodity have the average lowest opening price around 2001 to 2005 
#Which commodity have the best average  Market's closing price
#Which year corn have the highest and lowest Number of contracts traded

In [6]:
dt['date']=pd.to_datetime(dt['date'])

In [7]:
dt.describe()

               open          high           low         close         volume
count  34883.000000  34883.000000  34883.000000  34883.000000   34883.000000
mean     573.890888    579.401570    568.530326    573.880280   27606.105008
std      458.921582    463.500174    454.580653    458.949972   52347.602634
min       14.400000     14.410000     14.380000     14.380000       0.000000
25%      224.500000    226.500000    222.250000    224.250000      78.000000
50%      435.500000    439.000000    431.750000    435.750000     867.000000
75%      878.000000    886.500000    869.750000    877.125000   28293.500000
max     2435.000000   2468.500000   2400.000000   2446.000000  523849.000000

# Which commodity was having the highest opening price for the day.

In [8]:
dt['open'].max()

2435.0

In [9]:
filt=(dt['open']==2435.0)

In [10]:
dt.loc[filt]['commodity']

19437    Rough Rice
Name: commodity, dtype: object

In [11]:
#Rough Rice has highest opening price for the day which is about Rs.2435.0

# Which commodity price reached  maximum during the trading session.

In [12]:
filt=(dt['high']==dt['high'].max())

In [13]:
dt.loc[filt]['commodity']

19437    Rough Rice
Name: commodity, dtype: object

In [14]:
#Rough Rice reached maximum during the trade session about Rs.2468.500

# What is the average Market's opening price for the Oat in 2010

In [15]:
filt=(dt['date']>='2010-01-01')&(dt['date']<='2010-12-31')&(dt['commodity']=='Oat')

In [16]:
dt.loc[filt]['open'].mean()

275.11607142857144

In [17]:
#The Average market price for 'Oat' in 2010 is RS.275.116

# Which commodity have the average lowest opening price around 2001 to 2005

In [18]:
filt=(dt['date']>='2001-01-01')&(dt['date']<='2005-12-31')

In [21]:
pri=dt.loc[filt]

In [29]:
gr=pri.groupby(['commodity'])

In [26]:
gr['open'].mean()

commodity
Corn            226.167136
KC HRW Wheat    343.651033
Oat             159.646309
Rough Rice      616.746411
Soybean         594.099841
Soybean Oil      21.416110
Name: open, dtype: float64

In [27]:
#Soyabean Oil has lowest opening price about Rs.21.416

# What is the maximum and minimum Number of contracts traded during the 2009

In [185]:
filt=(dt['date']>='2009-01-01')&(dt['date']<='2009-12-31')

In [186]:
dt.loc[filt]['volume'].max()

252221

In [187]:
dt.loc[filt]['volume'].min()

0

In [188]:
#The maximum and minimum number of contracts traded during the 2009 are 252221 and 0

# Which commodity have the best average  Market's closing price

In [222]:
g=dt.groupby(['commodity'])

In [223]:
g['close'].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [234]:
#Rough Rice has best average market's closing price aboutRs.1143.607

# Which year corn have the highest and lowest Number of contracts traded

In [227]:
g['volume'].max().loc['Corn']

523849

In [228]:
g['volume'].min().loc['Corn']

0

In [229]:
filt=(dt['commodity']=='Corn')&(dt['volume']==523849)

In [230]:
dt.loc[filt]['date']

4216   2017-06-07
Name: date, dtype: datetime64[ns]

In [231]:
filt=(dt['commodity']=='Corn')&(dt['volume']==0)

In [232]:
dt.loc[filt]['date']

821    2003-12-11
1328   2005-12-13
4486   2018-07-03
4528   2018-08-31
5682   2023-04-06
Name: date, dtype: datetime64[ns]

In [233]:
#In 2017-06-07 Corn have highest number of contracts trade and In 2003,2005,2018,2023 Corn have lowest number of contracts traded